@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.25em; 
}
  
::-webkit-scrollbar-track {
    background-color: #fff; 
}
  
::-webkit-scrollbar-thumb {
    background-color: #04A6E7; 
    border-radius: 10px; 
}